<div class="panel panel-default">
  <div class="panel-heading"><h2>Edit <%= resource_name.to_s.humanize %></h2></div>
  <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, autofocus: true, class:'form-control' %>
            </div>

            <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class:'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            </div>

            <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
            </div>

            <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class:'form-control' %>
            </div>

            <div class="actions">
            <%= f.submit "Update", class:'btn btn-success' %>
            </div>
            <% end %>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-heading"><h3>Delete your account</h3></div>
    
  <div class="panel-body">
    <p>You're feeling uncomfortable? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
  </div>
<div class="panel-footer"><%= link_to "Back", :back, class: 'btn btn-default' %></div>
</div>





