

<%= render 'home/jumbo' unless user_signed_in? %>
<div class="transitions-enabled" id="pins" align="center">       
    <% @pins.each do |pin| %>
    <div class="box panel panel-default"> 
        <%= link_to image_tag(pin.image.url(:medium)), pin %></br>
        <%= pin.description %></br>
        <em><%= pin.user.nickname if pin.user %></em></br>
        <% if pin.user == current_user %>
        
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        
        <% end %>
        </br>
     </div>
    <% end %>
</div>    
<div class="center">
<%= will_paginate @pins , renderer: BootstrapPagination::Rails %>
</div>



