
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    
    <div class="panel panel-default">
      <div class="panel-heading center"><%= image_tag @pin.image.url(:medium) %></div>
        <div class="panel-body">
        <strong>Description:<strong> <%= @pin.description %></br>
        Updated At: <%= @pin.updated_at.to_s(:long) %></br>
        Price: <%= @pin.price %>
        </br>
        <em>Author:</em> <%= @pin.user.nickname if @pin.user %>
        </div>
        <% if @pin.user == current_user %>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_pin_path(@pin) %> |
          <%= link_to 'Back', pins_path %>
        <% end %>
        </div>
</div>
</div>
</div>
