
<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to my Cupcake</h1>
  <p>Pretty Cool, Uh huh!</p>
  <div class="container1">
  <% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  <%= link_to "Edit", edit_user_registration_path, class: 'btn btn-default' %>
  <% else %>
  <%= link_to "Login", new_user_session_path, class:'btn btn-default'%>
  <%= link_to "Sign Up", new_user_registration_path , class:'btn btn-primary'%>
  <% end %>
  </div>
</div>



