<!DOCTYPE html>
<html>
<head>
  <title class="glyphicon glyphicon-film">Cupcake Chupy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'home/header' %>
<div class="container">
  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info")  %>
  <% end %>
<%= yield %>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>  
</body>
</html>
